<section data-ng-controller="addressesController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="street">Street</label>
			<div class="controls">
				<input type="text" data-ng-model="address.street" id="title" placeholder="Street" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="street2">Address Line 2</label>
			<div class="controls">
				<input type="text" data-ng-model="address.street2" id="title" placeholder="Address Line 2">
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">City</label>
			<div class="controls">
				<input type="text" data-ng-model="address.city" id="title" placeholder="City" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="state">State</label>
			<div class="controls">
				<input type="text" data-ng-model="address.state" id="title" placeholder="State" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="zip">Zip</label>
			<div class="controls">
				<input type="text" data-ng-model="address.zip" id="title" placeholder="zip" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>