<section data-ng-controller="addressesController" data-ng-init="find()">

<div class="row">

    <div sidebar></div>

    <div class="col-md-9">
        <div class="navbar navbar-default" role="navigation">
                            
            <!--div class="container"-->
            <!-- Brand and toggle get grouped for better mobile display -->

                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <input ng-model="searchAddresses" type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                </form>

                <div class="btn-group">
            <button type="button" class="btn btn-default"><a href="/#!/addresses/create" >Create New Address</a></button>

            </div>
		<ul class="row">
			<li data-ng-repeat="address in addresses|filter:searchAddresses|filter:{UserId: global.user.id}">
				<h2><a data-ng-href="#!/addresses/{{address.id}}">Address: {{address.id}}</a></h2>
				<div>{{address.street}}</div>
	    		<div>{{address.street2}}</div>
	    		<div>{{address.city}}, {{address.state}} {{address.zip}}</div>
			</li>
		</ul>
		<h1 data-ng-hide="!addresses || addresses.length">No addresses yet. <br> Why don't you <a href="/#!/addresses/create">Create One</a>?</h1>
		</div>
</section>