<section data-ng-controller="addressesController" data-ng-init="findOne()">
    <span>{{address.updatedAt | date:'medium'}}</span>
    <div>{{address.street}}</div>
    <div>{{address.street2}}</div>
    <div>{{address.city}}, {{address.state}} {{address.zip}}</div>
    <div data-ng-show="true">
        <a class="btn" href="/#!/addresses/{{address.id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
</section>
