<section data-ng-controller="itemsController" data-ng-init="findCategory()">
    <div sidebar></div>
    <div class="col-md-3">
    <form class="form-horizontal" data-ng-submit="create()">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" data-ng-model="title" id="title" placeholder="Title" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea data-ng-model="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="url">url</label>
            <div class="controls">
                <textarea data-ng-model="url" id="url" cols="30" rows="1" placeholder="url"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="starting_bid">Starting Bid</label>
            <div class="controls">
                <input type="number" step="0.01" data-ng-model="current_bid" id="starting_bid" placeholder="$0.00" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="reserve_price">Reserve Price</label>
            <div class="controls">
                <input type="number" step="0.01" data-ng-model="reserve_price" id="reserve_price" placeholder="$0.00" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="buy_it_now">Buy It Now</label>
            <div class="controls">
                <input type="number" step="0.01" data-ng-model="buy_it_now" id="buy_it_now" placeholder="$0.00" required>
            </div>
        </div>


        <br>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn">
            </div>
        </div>
    </form>
    </div>
    <div class="col-md-3">
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                Choose a Category <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li ng-repeat="category in categories|filter:{ParentId: null}:true" class="dropdown-submenu">
                <a tabindex="-1" >{{category.title}}</a>
                <ul class="dropdown-menu">
                  <li ng-repeat="child in categories|filter:{ParentId: category.id}:true" class="dropdown-submenu">
                    <a href="#">{{child.title}}</a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="leaf in categories|filter:{ParentId: child.id}:true" class="dropdown-submenu">
                                <a href="#">{{leaf.title}}</a>
                    
                            </li>
                        </ul>
                  </li>
                  
                </ul>
              </li>
            </ul>
        </div>
    </div>
</section>