<section data-ng-controller="itemsController" data-ng-init="findCategory();find()">

<div class="row">

            <div sidebar></div>

            <div class="col-md-9">
                <div class="navbar navbar-default" role="navigation">
                    <!--div class="container"-->
                    <!-- Brand and toggle get grouped for better mobile display -->

                        <form class="navbar-form">
                            <div class="form-group" style="display:inline;">
                                <div class="input-group">
                                    <input ng-model="searchItems" type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                </div>
                            </div>
                        </form>

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                            <a class="navbar-brand" ng-click="leafcat=none; consolecat=none" href="#!/items">All</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li ng-repeat="category in categories|filter:{ParentId: null}:true" class="dropdown-submenu">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown" ng-repeat="child in categories|filter:{ParentId: category.id}:true" >
                                            <a class="dropdown-toggle" ng-click="$parent.$parent.leafcat=none;$parent.$parent.consolecat=child.id;"href="#">{{child.title}}<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="leaf in categories|filter:{ParentId: child.id}:true">
                                                    <a ng-click="$parent.$parent.$parent.leafcat=leaf.id;$parent.$parent.$parent.consolecat=child.id;" href="#">{{leaf.title}}</a>
                                                    <!-- We need to add something here to filter by the category-->
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sort By...<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Item Name</li>
                                    <li><a ng-click = "predicate = 'title'; reverse=false" href="#">Alphabetical</a></li>
                                    <li><a ng-click = "predicate = 'title'; reverse=true" href="#">Reverse Alphabetical</a></li>
                                <li role="presentation" class="dropdown-header">Item Price</li>
                                    <li><a ng-click = "predicate = 'current_bid'; reverse=false" href="#">Lowest Price</a></li>
                                    <li><a ng-click = "predicate = 'current_bid'; reverse=true" href="#">Highest Price</a></li>
                                <li role="presentation" class="dropdown-header">Ending Time</li>
                                    <li><a ng-click = "predicate = 'createdAt'; reverse=false" href="#">Ending Soonest</a></li>
                                    <li><a ng-click = "predicate = 'createdAt'; reverse=true" href="#">Most Recent</a></li>
                            </ul>
                        </div>

                    <!--/div--><!-- /.container-fluid -->
                </div>
                
                <div class="row">
                    <h1 data-ng-hide="!items || items.length">No items yet. <br> Why don't you <a href="/#!/items/create">Create One</a>?</h1>

                    <div data-ng-repeat="item in items|filter:searchItems|filter:{CategoryId: leafcat}:true|filter:{console_id: consolecat}:true|orderBy:predicate:reverse" class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{item.image}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">${{item.current_bid.toFixed(2)}}</h4>
                                <h4><a data-ng-href="#!/items/{{item.id}}">{{item.title}}</a></h4>
                                <p>{{item.description}}</p>
                                <p> {{item.updatedAt | date:'medium'}} </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                   

                   
                </div>

            </div>

        </div>

</section>
