extends auth

block auth
  .container
    #signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px')
        .panel.panel-info
          .panel-heading
            .panel-title Sign Up
            div(style='float:right; font-size: 85%; position: relative; top:-10px')
              a#signinlink(href='/signin') Sign In
          .panel-body
            form#signupform.form-horizontal(action="/users", method="post",role='form')
              #signupalert.alert.alert-danger(style='display:none')
                p Error:
                span
              .form-group
                label.col-md-3.control-label(for='email') Email
                .col-md-9
                  input.form-control(type='text', name='email', placeholder='Email Address')
              .form-group
                label.col-md-3.control-label(for='username') Username
                .col-md-9
                  input.form-control(type='text', name='username', placeholder='Username')
              .form-group
                label.col-md-3.control-label(for='name') Full Name
                .col-md-9
                  input.form-control(type='text', name='name', placeholder='Full Name')
              .form-group
                label.col-md-3.control-label(for='password') Password
                .col-md-9
                  input.form-control(type='password', name='password', placeholder='Password')
              .form-group
                label.col-md-3.control-label(for='birth_date') Date of Birth
                .col-md-9
                  input.form-control(type='date', name='birth_date')
              .form-group
                label.col-md-3.control-label(for='phone') Phone
                .col-md-9
                  input.form-control(type='tel', name='phone', maxlength='12', placeholder='000-000-0000')
              .form-group
                label.col-md-3.control-label(for='gender') Gender
                .col-md-9
                  .controls
                    select( name = "gender" )
                      option( value = 'Male', selected = Male ) Male
                      option( value = 'Female', selected = Female ) Female
              .form-group
                label.col-md-3.control-label(for='income') Annual Income
                .col-md-9
                  .input-group
                    .input-group-addon $
                    input.form-control(type='text', name='income', placeholder='Annual Income')
              .form-group
                label.col-md-3.control-label(for='user_type') User Type
                .col-md-9
                  .controls
                    select( name = "user_type" )
                      option( value = 'Individual', selected = Individual ) Individual
                      option( value = 'Company', selected = Company ) Company
              .form-group
                .col-md-offset-3.col-md-9
                  .form-actions
                    button.btn.btn-info(type='submit')
                      i.icon-hand-right
                      | Sign Up
                    span(style='margin-left:8px;')
              
